.boxers {
  background: #ffffff;
  position: absolute;
  left: 38vw;
  top: 70px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  width: 381.5px;
  min-height: 70px;
  max-height: 300px;
  overflow-x: hidden;
}

.boxers > * {
  margin-left: 10px;
}
