.background {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6c6c6c;
}

.boxers {
  background: #ffffff;
  position: absolute;
  top: 70px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  width: 381.5px;
  min-height: 174.27px;
  max-height: 300px;
  overflow-x: hidden;
}

.boxers > * {
  margin-left: 10px;
}
