.messageCardContainer {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.messageCardContainer:first-child {
  margin-top: 10px;
}

.messageCardContainer .messageCard {
  display: flex;
  width: 100%;
  align-items: center;
  height: 40px;
  gap: 5px;
}
.messageCardContainer .messageCard > * {
  pointer-events: none;
}

.messageCardContainer .messageCard .messageWrapper {
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}
.messageCardContainer .messageCard .messageWrapper div {
  background: url("./Assets/Usercard.svg") no-repeat center;
  background-color: #fff0d0;
  border: 1px solid #591035;
  pointer-events: none;
  width: 30px;
  height: 30px;
}
.messageCardContainer:hover {
  background: rgba(255, 175, 0, 0.7);
}
.messageCardContainer .messageCard:active {
  background: #ffaf00;
}

.messageCardContainer .Remove {
  background: url("./Assets/Exit.svg") no-repeat center;

  width: 30px;
  height: 30px;
  border: 0px;
}

.messageCardContainer .messageCard .messageWrapper p {
  pointer-events: none;
}
