/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 175, 0, 0.4) #fff0d0;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 3px;
}

*::-webkit-scrollbar-track {
  background: #fff0d0;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(255, 175, 0, 0.4);
  border-radius: 10px;
  border: 3px solid rgba(255, 175, 0, 0.4);
}
