.channelCard {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: auto;
  height: 40px;
  gap: 5px;
}

.channelCard > * {
  pointer-events: none;
}
.channelCard div {
  background: url("./Assets/Lock-Icon.svg") no-repeat center;
  width: 30px;
  height: 30px;
  position: relative;
  z-index: 0;
  margin-left: 10px;
}
.channelCard:hover {
  background: rgba(255, 175, 0, 0.7);
}
.channelCard:active {
  background: #ffaf00;
}

.channelCard p {
  position: relative;
  margin-left: 10px;
  z-index: 0;
}
