.createMessage-container-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 3;
}

.createMessage-container {
  width: 400px;
  height: 300px;
  display: flex;
  border: 1px solid rgba(161, 161, 161, 35%);
  border-radius: 16px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  gap: 10px;
  background-color: white;
}
.createMessage-Header {
  width: 100%;
  border-bottom: 1px solid #f2f3f7;
  height: 24%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.createMessage-Header .title {
  width: fit-content;
  display: flex;
  justify-content: flex-start;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 33px;
  margin-left: 10px;
  font-family: "Roboto", sans-serif;
}
.createMessage-container .close-container {
  width: 13px;
  height: 13px;
  background: url("./Assets/Close.svg");
  margin-right: 18px;
  margin-bottom: 50px;
  cursor: pointer;
}

.createMessage-container .searchResults {
  width: 80%;
  height: 10%;
  border-radius: 5px;
  outline: none;
  border: 0px;
  background-color: #f2f3f7;
  font-weight: normal;
  font-size: 14px;
  line-height: 23px;
  color: #000;
  font-family: "Roboto", sans-serif;
}

.ResultContainer {
  position: absolute;
  z-index: 4;
  top: 120px;
  width: 75%;
  height: 80px;
  overflow-y: auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.createMessage-container .searchResults:active {
  outline: none;
}
.listOfUsers {
  position: relative;
  z-index: 2;
  width: 80%;
  min-height: 20%;
  border-radius: 5px;
  background-color: #f2f3f7;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  color: black;
  gap: 5px;
}
.messageBody {
  outline: none;
  border: 0px;
  background-color: #f2f3f7;
  border-radius: 5px;
  width: 80%;
  min-height: 10%;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
}
.messageBody:active {
  outline: none;
}

.buttonSubmit {
  border: 0px;
  outline: none;
  background-color: #ffaf00;
  border: 1px solid #fff0d000;
  padding: 10px;
  border-radius: 10px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  color: rgb(255, 255, 255);
  margin-right: 51%;
  cursor: pointer;
}

.buttonSubmit:hover {
  background-color: white;
  border: 1px solid #ffaf00;
  color: #ffaf00;
  transition: 0.5s ease;
}
