/*Main Container*/
.LoginMain {
  width: 100vw;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
}

/*SVG Photo*/
.SVG-Photo {
  width: 30%;
  height: 100vh;
  background: url("./Assets/Login\ Vector\ 1.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/*Main DashBoard*/
.Main-Login {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Wrapper*/
.Wrapper-Main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
/*Title*/
.Header {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 47px;
  display: flex;
  align-items: center;
  width: 375px;
  height: 122px;
}
/*Google Sign In*/
.Google-Button {
  cursor: pointer;
  width: 210px;
  height: 45px;
  background: #100cfc;
  border-radius: 2.2531px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #100cfc;
}

.Google-Img {
  background: url("./Assets/logo\ googleg\ 48dp.svg");
  background-color: white;
  background-repeat: no-repeat;
  background-size: 20.28px;
  background-position: center;
  min-width: 20%;
  min-height: 100%;
  padding: -10px;
  border-radius: 2.2531px 0 0 2.2531px;
}
.Google-Button p {
  font-style: normal;
  font-weight: 500;
  font-size: 15.7717px;
  line-height: 18px;
  margin-right: 18px;
  color: white;
}

.Google-Button:hover {
  background: white;
  border: 2px solid #100cfc;
}
.Google-Button:hover p {
  color: #100cfc;
}

.or-Wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
/*Or Line*/
.or-Wrapper .or {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 15.7717px;
  line-height: 18px;
  width: 17px;
  height: 18px;
  color: #a1a1a1;
  margin-left: 10px;
  margin-right: 10px;
}
.or-Wrapper div {
  width: 218px;
  height: 1px;
  background-color: #a1a1a1;
}

/*Form*/
form {
  width: 475px;
}

form div {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

/*H1 Edit*/
form h1 {
  margin-bottom: 10px;
  width: max-content;
  height: 122px;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 40px;
}

/*Labels*/
form label {
  width: max-content;
  height: 35px;
  font-size: 20px;
  font-weight: 700;
  display: flex;
  align-items: center;
}

/*Input*/
form input {
  width: 475px;
  height: 45px;
  background: #f3f3f4;
  border-radius: 5px;
  border: 0px;
  font-size: 20px;
}

/*Button Edit*/
form button {
  background: #f2d2d2;
  border-radius: 8px;
  width: 220px;
  height: 45px;
  color: white;
  border: 0px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  cursor: pointer;
}

form button:hover {
  transition: 0.5s;
  border: 1px solid #f2d2d2;
  color: #f2d2d2;
  background: white;
}

/*FOrward Sign Up*/
.ForwardSignUp {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 20px;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 38px;
  margin-top: 36px;
}

.ForwardSignUp span a {
  text-decoration: none;
}
