 
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
 }
  

  .login {
    height: 100%;
    width: 100%;
    position: absolute;
  } 
  
  .login-container{
    display: flex;
    width: 100%;
    height: 100%; 
    position: relative;
  }
  
  .left-container{
    background-color: #F1CDD9;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 30%;
    padding-left: 2%;
  }
  
  
  .logo{
    background-color: transparent;
    height: 8%;
    width: 10%;
    padding-top: 10%;
    margin-bottom: 5%;
    
  }
  
  .logo-text{
    width: 90%;
  }
  
  .login-image{
    margin-top: 5%;
    height: 50%;
    width: 100%;
    background-image: url("../../assets/login/loginimage.jpg");
    background-size: cover;
  }
  
  .right-container{
    width: 75%;
    height: 100%;
  }
  
  .signup{
    display: flex;
    justify-content: flex-end;
    padding-top: 2%;
    padding-right: 5%;
  }
  
  .signup-link{
    color: blue;
    text-decoration: underline;
    cursor: pointer;
  }

  .login-main{
      display: flex;
      flex-direction: column;
      padding-left: 30%;
      margin-top: 15%;
      width: 80%;
  }

  .login-main h1{
      margin-bottom: 5%;
  }

  .or-line p {
    text-align: center;
    max-width: 90%;
    position: relative;
    margin: 3% auto;
    font-style: italic;
  }

  .or-line p:before{
    content: "";
    position: absolute;
    display: block;
    height: 1%;
    width: 300px;
    background-color: #000;
    left: 0;
    top: 50%;
    z-index: -2;
  }
  .or-line p:after{
    content: "";
    position: absolute;
    display: block;
    height: 1%;
    width: 300px;
    background: #000;
    right: 0;
    top: 50%;
    z-index: -2;
    margin-left: 2%;
  }

  .or-line span{
      background: #fff;
  }

  .google-login {
      background-color: blue;
      height: auto;
      width: 30%;
      display: flex;
      align-items: center;
      border-color: blue;
      cursor: pointer;
      margin-bottom: 5%;
      border-radius: 1rem;
  }

  .google-login img{
      margin: 2px;
      border-radius: 1rem;
  }

  .google-text{
      color: white;
      padding-left: 5%;

  }

  .login-form{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
  }

  .login-form label{
      margin-bottom: 5%;
  }

  .login-form input{
    margin-bottom: 5%;
    width: 60%;
    padding: 2%;
    font-size: 1em;
    border-radius: 1rem;
    background: #F3F3F4;

  }

  .login-form button{
      width: 25%;
      padding: 2%;
      background-color: #ea4c89;
      color: #FFF;
      border-radius: 1rem;
      cursor: pointer;
  }
