.newchannel-bg {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  z-index: 1;
}

.newchannel-cont {
  position: absolute;
  width: 20%;
  height: 40%;
  top: 10em;
  right: 35vw;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid black;
  padding: 0 1em 0 2em;
}

.newchannel-header {
  display: flex;
  width: 80%;
  justify-content: space-between;
}

.newchannel-header img {
  height: 20px;
  padding-top: 2%;
  cursor: pointer;
}

.channelName {
  /* margin: 2% 10% 2% 2%; */
  width: 80%;
  margin-top: 10px;
}

.newchannel-user-search {
  margin-top: 10px;
  width: 80%;
}

.inv-mems {
  height: 30%;
  width: 80%;
  border: 1px solid black;
  /* margin: 2% 10% 2% 2%; */
  margin-top: 10px;
}

.user-containers {
  overflow: hidden;
  margin-top: 10px;
  width: 80%;
  height: 20px;
  border: 1px solid black;
}
