.channelcard {
  height: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
  background-color: #fff0d0c4;
  width: auto;
  padding: 10px;
  border-radius: 5px;
}

.closebutton {
  width: 10px;
  height: 10px;
}

.add-name {
  height: 20px;
  width: auto;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.612);
  pointer-events: none;
  font-family: "Roboto", sans-serif;
}
