* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.newchannel-bg {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.newchannel-cont {
  position: absolute;
  width: 25%;
  height: 50%;
  top: 10em;
  right: 35vw;
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  border: 1px solid rgba(161, 161, 161, 35%);
  border-radius: 16px;
}

.newchannel-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #f2f3f7;
  font-family: "Roboto", sans-serif;
}

.newchannel-header h2 {
  margin-left: 10%;
  font-family: "Roboto", sans-serif;
}

.newchannel-header img {
  height: 20px;
  cursor: pointer;
  margin-right: 20px;
}

.channelName {
  /* margin: 2% 10% 2% 2%; */
  margin-top: 10px;
  width: 80%;
  height: 10%;
  font-weight: normal;
  font-size: 14px;
  line-height: 23px;
  outline: none;
  border: 0px;
  border-radius: 5px;
  background-color: #f2f3f7;
  font-family: "Roboto", sans-serif;
}

.newchannel-user-search {
  margin-top: 10px;
  width: 80%;
  height: 10%;
  font-weight: normal;
  font-size: 14px;
  line-height: 23px;
  outline: none;
  border: 0px;
  border-radius: 5px;
  background-color: #f2f3f7;
  font-family: "Roboto", sans-serif;
}

.inv-mems {
  height: 35%;
  width: 80%;
  background-color: #f2f3f7;
  /* margin: 2% 10% 2% 2%; */
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2em;
  gap: 2px;
  overflow-y: auto;
  align-content: flex-start;
  border-radius: 5px;
}

.user-containers {
  overflow: hidden;
  margin-top: 0;
  width: 75%;
  height: 30%;
  z-index: 5;
  position: absolute;
  top: 40%;
  background-color: white;
  border-radius: 0.2em;
}

.newchannel-submit {
  padding: 10px;
  background-color: #fff0d0c4;
  border-radius: 10px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  color: rgb(255, 255, 255);
  border: 1px solid #fff0d000;
  margin-bottom: 41px;
  margin-right: 51%;
  cursor: pointer;
}

.newchannel-submit:hover {
  background-color: white;
  border: 1px solid #fff0d0c4;
  color: #fff0d0c4;
}

.channelcard {
  height: 20%;
  margin: 0.3em;
  background-color: #ffaf00;
}
