.channelcard {
  width: fit-content;
  height: 20px;
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  align-items: center;
}

.closebutton {
  width: 10px;
  height: 10px;
}

.add-name {
  width: fit-content;
  height: 100%;
  font-size: 10px;
  pointer-events: none;
}
