@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

* {
  box-sizing: border-box;
}

.modal-bg {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: relative;
}

.modal-main {
  background-color: white;
  height: 50vmin;
  width: 50vmin;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  border-radius: 2em;
  border: 1px solid #a1a1a1;
  position: absolute;
  z-index: 0;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  border-bottom: 1px solid #a1a1a1;
}

.modal-title {
  display: flex;
  width: 80%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-left: 10px;
  font-family: "Roboto", sans-serif;
}

.modal-bg .modal-main .modal-header .modal-title h2 {
  font-family: "Roboto", sans-serif;
  width: auto;
  height: auto;
  margin-left: 20px;
  font-size: 20px;
}

.modal-title img {
  width: 20px;
  height: 20px;
}

.modal-close {
  font-size: 2rem;
  margin-right: 5%;
  margin-top: 2%;
  transform: rotate(45deg);
  cursor: pointer;
}

.modal-body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}

.search-container {
  display: flex;
  border: 1px solid #ccc;
  /* border-radius: 5px; */
  margin-top: 5%;
  width: 80%;
}

.searchIcon {
  padding: 0.5rem;
}

.search {
  padding: 0.5rem;
  flex: 1;
  size: 80%;
  border: 0px;
}
.search:focus {
  outline: none;
}

.member-list {
  width: 90%;
  height: 50%;
  overflow: auto;
}
