.Message-Box {
  width: 90%;
  max-height: 70px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  margin-left: 10px;
}
.Message-Box:first-child {
  /*  ! Change pseudo class*/
  margin-top: 10px;
}

.Message-Box .Avatar-and-Image {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  gap: 5px;
}

.Message-Box .Avatar-and-Image .User-Name .Type-Message {
  flex: 0 1 auto;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  display: flex;

  align-items: center;

  color: #000000;
}

.Message-Box .Avatar-and-Image .Image-Avatar {
  background: url("./assets/avatar.svg") center no-repeat;
  width: 30px;
  height: 30px;
  padding: 5px;
}

.Message-Body {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */

  color: rgba(1, 1, 1, 0.58);
}
